aiofiles
aiohttp
autoflake==2.2.1
autopep8
azure-identity
azure-storage-blob
azure-keyvault-secrets
azure-monitor-opentelemetry
black==24.4.2
dotenv
fastapi
fastapi[standard]
flake8==7.0.0
isort==6.0.1
passlib[bcrypt]
pre-commit==4.2.0
pydantic
pytest
pyodbc
pypyodbc
python-jose
pyupgrade==3.15.2
sqlalchemy
uvicorn[standard]
openai
